.wrapper {
  height: 100dvh;
  display: flex;

  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.card {
  margin: auto;
  width: 320px;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;

  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.1);
}

.card img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.card .content {
  padding: 16px 0;
}

.card h2 {
  margin: 0;
  padding: 8px 0;

  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 28px;

  color: hsl(218, 44%, 22%);
}

.card p {
  margin: 0;
  padding: 8px 16px;

  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.1875px;
  color: hsl(220, 15%, 55%);
}


// Debugger for spotting differences
.wrapper.debug {
  background-image: url('/assets/qr-code/desktop-design.jpg');
  background-position: center;

  .card {
    opacity: 50%;
    mix-blend-mode: difference;
  }
}
