* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

@mixin for-desktop-up {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin text-base() {
  font-family: 'DM Sans', 'sans-serif';
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}

.text-body {
  @include text-base;
  font-size: 15px;
  font-weight: 400;
  @include for-desktop-up {
    font-size: 18px;
  }

  &-bold {
    font-weight: 700;
  }
}

.text-heading-l {
  @include text-base;
  font-size: 24px;
  font-weight: 700;
  @include for-desktop-up {
    font-size: 32px;
  }
}


.text-heading-xl {
  @include text-base;
  font-size: 30px;
  font-weight: 700;
  @include for-desktop-up {
    font-size: 48px;
  }
}

.text-mini-caption {
  font-size: 12px;
  font-weight: 400;
  @include for-desktop-up {
    font-size: 15px;
  }
}

.text-white {
  color: var(--white);
}

.text-dark {
  color: var(--dark-brown);
}

.text-light {
  color: var(--medium-brown);
}

@mixin bg-border-radius() {
  border-radius: 10px;
  @include for-desktop-up {
    border-radius: 20px;
  }
}

@mixin item-border-radius() {
  border-radius: 3px;
  @include for-desktop-up {
    border-radius: 5px;
  }
}


:host {
  --white: rgba(255, 255, 255, 1);
  --card-white: rgba(255, 251, 246, 1);
  --cream-bg: rgba(248, 233, 221, 1);
  --medium-brown: rgba(146, 133, 122, 1);
  --dark-brown: rgba(56, 35, 20, 1);
  --cyan: rgba(118, 181, 188, 1);
  --cyan-light: rgba(180, 224, 229, 1);
  --red: rgba(236, 117, 93, 1);
  --red-light: rgba(225, 155, 134, 1);

  height: 100dvh;
  display: flex;
  background-color: var(--cream-bg);
  padding: 0 16px;

  .wrapper {
    margin: auto;
    width: 540px;
  }

  .balance {
    background-color: var(--red);
    @include bg-border-radius;

    padding: 20px 24px 22px 20px;
    margin-bottom: 16px;

    @include for-desktop-up {
      padding: 27px 39px 25px 32px;
      margin-bottom: 24px;
    }
  }

  .spending {
    background-color: var(--card-white);
    @include bg-border-radius;
    color: var(--dark-brown);

    padding: 24px 20px;


    &__footer {
      margin-top: 22px;
    }

    @include for-desktop-up {
      padding: 32px 40px;

      &__footer {
        margin-top: 32px;
      }
    }

    &__change {
      text-align: right;

      margin-top: 22px;

      @include for-desktop-up {
        margin-top: 18px;
      }
    }
  }

  .chart {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: 22px;

    @include for-desktop-up {
      margin-bottom: 20px;
    }

    &__item {
      position: relative;
      display: flex;
      flex-flow: column;

      margin: 6px;
      text-align: center;

      padding-top: 46px;

      @include for-desktop-up {
        padding-top: 54px;

      }

      &:hover,
      &--active {
        z-index: 20;

        .chart__tooltip {
          opacity: 1;
        }

        .chart__bar {
          background-color: var(--red-light);

          &--current {
            background-color: var(--cyan-light);
          }
        }
      }

      @include for-desktop-up {
        margin: 9px;
      }
    }

    &__tooltip {
      opacity: 0;

      position: absolute;
      top: -47px;
      left: 50%;
      transform: translateX(-50%);

      padding: 8px;
      background-color: var(--dark-brown);
      color: var(--card-white);
      @include item-border-radius;
    }

    &__bar-container {
      width: 100%;
      height: 150px;
      margin-bottom: 8px;
      display: flex;
      align-items: flex-end;
    }

    &__bar {
      width: 100%;
      background-color: var(--red);
      @include item-border-radius;
      cursor: pointer;
      position: relative;

      &--current {
        background-color: var(--cyan)
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: var(--cream-bg);
}
