<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
</style>

<div class="wrapper" [class.debug]="debug">

  <div class="card">
    <div class="card__content">
      <h2 class="card__header">Get <span class="highlight">insights</span> that help your business grow.</h2>
      <p class="card__text">
        Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and
        overall efficiency.
      </p>
      <div class="card__stats">

        <div class="stat">
          <h4 class="stat__value">10k+</h4>
          <div class="stat__title">Companies</div>
        </div>
        <div class="stat">
          <h4 class="stat__value">314</h4>
          <div class="stat__title">Templates</div>
        </div>
        <div class="stat">
          <h4 class="stat__value">12M+</h4>
          <div class="stat__title">Queries</div>
        </div>

      </div>
    </div>
    <div class="card__media filtered">
      <img class="filtered__img desktop" src="assets/stats-preview/image-header-desktop.jpg">
      <img class="filtered__img mobile" src="assets/stats-preview/image-header-mobile.jpg">
    </div>
  </div>

  <button class="toggle-debug" (click)="debug = !debug">debug</button>
</div>

