* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  height: 100dvh;
  background-color: #0A0C1C;

  font-weight: 400;
  font-size: 15px;
  line-height: 25px;

  display: flex;

  --color-highlight: #AB5CDB;

  padding: 0 24px;
}

.filtered {
  background: var(--color-highlight);
  position: relative;
}

.filtered__img {
  display: block;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.highlight {
  color: var(--color-highlight);
}

.card {
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;

  background-color: #1B1937;
  color: white;
  font-style: normal;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
}


.card__content {
  flex: 1 0;
  padding: 73px 72px 62px;
  display: grid;
}

.card__media {
  flex: 1 122px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;

    &.mobile {
      display: none;
    }
  }
}


.card__header {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.card__text {
  //line-height: 25px;
  opacity: .75;
  margin-right: 72px; // i hate this
  margin-bottom: 72px;
}

.card__stats {
  align-self: end;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: 72px;
}

.stat__value {
  margin-bottom: 2px;

  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

.stat__title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: .6;
}

@media (max-width: 700px) {
  .wrapper {
    margin: initial;
  }

  .card__media {
    order: 1;
    flex: 1 100%;
    max-height: 240px;

    img {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
  }

  .card__content {
    order: 2;
    flex: 1 100%;

    padding: 40px 32px 32px 32px;
    text-align: center;
  }

  .card__header {
    margin-bottom: 16px;

    font-size: 28px;
    line-height: 32px;
  }

  .card__text {
    margin-right: 0;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 25px;
  }

  .card__stats {
    margin-right: 0;
  }

  .stat {
    flex: 1 100%;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}


